// Define variables for your color scheme

// For example:
$red: #8D010E;
$blue: #1D1E33;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #8B959E;
$light-gray: #F4F4F4;
$white: #fff;

.green {
  color: #1EDD88;
}

.red {
  color: #FD1015;
}
