<footer class="footer">
  <div class="container footer-container">
    <div class="row footer-brand">
      Hyppkrtes<span style="color: #8D010E">.</span>
    </div>
  </div>

  <div class="footer-container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="mb-3">
          <h4>Candidates</h4>
          <ul class="footer-links">
            <li><%= link_to "Features", feed_path %></li>
            <li><a href="/host">Community</a></li>
            <li><a href="">Candidate terms</a></li>
            <li><a href="/faqs">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="mb-3">
          <h4>Company</h4>
          <ul class="footer-links">
            <li><a href="">Our mission</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <h4><strong>The first app for medical employees</strong></h4>
          <p class="footer-text">Discover our unique eco-system build by Medical people for medical people. Payroll, jobs, shifts, mental support, news and exclusive perks specificialy designed for Healthcare employees. </p>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="footer-container">
    <div class="row align-items-center legal-links">
      <div class="col-md-4 col-sm-6 col-xs-12 footer-links">
        <a class="legal-text mr-3" href="/terms">Terms</a>
        <a class="legal-text mr-3" href="/terms/privacy">Privacy</a>
        <a class="legal-text" href="/terms/cookies">Cookies</a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 legal-links footer-links">
          &copy; 2021 - Enferm Ltd. All rights reserved
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="footer-links links-socialmedia">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>

    </div>
  </div>
  <br>
  <br>
</footer>
