<div class="hero-banner-bg">
  <div class="hero-banner">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>
          The Healthcare employee app
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam id blandit dictum, ex nunc iaculis enim, ut posuere justo justo vel quam. Suspendisse quis felis nec erat ultricies accumsan.
        </p>
        <div class="mt-4">
          <%= link_to "Get Started", new_user_registration_path, class: "btn btn-blue" %>
          <%= link_to "Get Contacted", root_path, class: "btn btn-ghost" %>
        </div>
      </div>
      <div class="col-12 col-md-6">
        insert image / video
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
