<div class="hero-banner-bg">
  <div class="hero-banner">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>
          The all-in-one healthcare candidate platform
        </h1>
        <p>
          Operate, manage your income, get financial and heatlth support with Hyppkrates all-in-one health candidate app.
          Hold still while we get your back.
        </p>
        <div class="mt-4">
          <%= link_to "Get Started", new_user_registration_path, class: "btn btn-blue" %>
          <%= link_to "Get Contacted", root_path, class: "btn btn-ghost-white" %>
        </div>
      </div>
      <div class="col-12 col-md-6">
        insert image / video
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
