.hero-banner {
  margin: 0px auto;
  text-align: center;
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 576px) {
  .hero-banner {
    padding-left: 50px;
    padding-top: 100px;
    text-align: left;
  }

}
